.presentation {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 25px;
    background-size: cover;
}

.presentationStyle {
    margin-left: 15%;
}

.presentationStyle p{
    width: 648px;
}

.presentationStyle h3 {
    padding-bottom: 50px;
    padding-top: 40px;
}

.presentationStyle h1 {
    padding-bottom: 50px;
    font-size: 45px;
}

@media (max-width: 768px) {
    .presentationStyle {
        margin-left: 0;
    }

    .presentationStyle p {
        width: 100%;
    }

    .presentationStyle h3 {
        padding-bottom: 30px;
    }

    .presentationStyle h1 {
        padding-bottom: 30px;
        font-size: 25px;
    }

}